<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HairSalon"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.home.HomeManage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.appointment.AppointmentHistoryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.appointment.AppointmentActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name=".activity.shop.HomeShopActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".activity.order.OrderHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.product.ListProductActivity"
            android:exported="false" />
        <activity
            android:name=".activity.order.SuccessPay"
            android:exported="false" />
        <activity
            android:name=".activity.navbar.HomeCustomer"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.order.PayActivity"
            android:exported="false" />
        <activity
            android:name=".activity.cart.CartActivity"
            android:exported="false" />
        <activity
            android:name=".activity.product.DetailProductActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.shop.HomeShopActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.auth.LoginWithOtp"
            android:exported="false" />
        <activity
            android:name=".activity.auth.OTPVerification"
            android:exported="false" />
        <activity
            android:name=".activity.auth.Register"
            android:exported="false" />
        <activity android:name=".activity.home.Home" />
        <activity android:name=".MainActivity" />
        <activity android:name=".activity.auth.ForgetPassword" />
        <activity
            android:name=".activity.auth.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>